/*---------------
-----TABLETTE-------
--------------*/

@media screen and (min-width:768px) {

  

    /*---nav-----*/
    nav {
        margin: 3px;

    }

    ul {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        width: 90%;
        margin: 20px;
        padding: auto;


    }

    li {
        height: 60px;
        width: 300px;
        padding: 10px;

    }

    /*button*/
    button {
        font-size: 22px;
        width: max-content;
        height: max-content;
        margin:5px auto ;

    }

    button:hover {
        height: 35px;
    }

    .buttonaction {
        display: flex;
        align-items: center;
        width: 60%;
        margin: auto;
        padding: 5px;
        text-align: center;
  }

  .load {
    width: max-content;
    height: max-content;
    margin:5px auto ;
    font-size: 22px;
   
}

    /*----------theme-----------*/
    .user {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .theme {
        width: 94%;
        margin: auto;

    }

    p.colortheme {
        font-size: 35px;
        margin: 5px;
    }

    /*----------langues------*/

    .UX {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 10px;
    }

    .userfunction {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .langues {
        display: flex;
        flex-direction: row;
        gap: 0px;
        margin: 0px;
        padding: 0px;
    }

    .speak {
        height: 50px;
        width: 50px;
        border-radius: 35px;
        padding: 10px;
    }


    .Espagnol {
        width: 80px;
        height: 40px;

    }

    .English {
        width: 60px;
        height: 40px;

    }

    .Portugues {
        width: 80px;
        height: 40px;

    }


    /*------------- main-------------*/
    main {
        width: 94%;
        margin: auto;
        padding: 10px;

    }



    section {
        margin-top: 10px;
        margin-bottom: 10px;
        border: var(--color-header-bg) solid 6px;
    }

    .Titlepart {
        width: 60%;
        font-size: 35px;
        padding: 10px 15px;
    }

    .date {
        font-size: 20px;

        margin-top: 20px;
    }

    .job {
        font-size: 25px;
    }

    /*-------------description--------------*/

    .description {
        color: var(--color-header-bg);
        padding: 10px 20px 10px 0;

    }



    /*logos*/
    img.logo {
        height: 70px;
    }

    .namelogo {
        font-size: 20px;
        padding: 10px;
    }

    .explicationlogo {
        font-size: 20px;
        padding: 5px;
    }


    /*---------------projet---------------*/

    .miniature {
        height: 200px;
        width: 250px;
    }


    /*-----------autres capacités--------*/
    .blocknow {
        display: flex;
        align-items: baseline;
    }

    .blocknow1 {
        width: 40%;
        margin: auto;
    }


    .blocknow2 {
        width: 60%;
        margin: auto;
    }

    /*footer*/

    footer {
        background-color: var(--color-header-bg);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

    }

    .ML {
        font-size: 40px;
        color: white;
        font-weight: bold;
    }
}