
  @media screen and (min-width: 1024px) {
    

 /*-----------header----------------*/
header{
    background-color: var(--color-header-bg);
    position:static;
    font-size: 30px ;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    

}

/*intro*/
 #nameforcompu{
    display:flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;} 

.iam{
    margin: 5px;
    position: fixed;
    top:100px;
    right: 5px;
}
.avatar{
width: 90px;
height: 90px;
border-radius: 90px;
}

.name{
    font-size: 40px;
}
.fullstack{
    font-size: 50px;
}


/*button*/
.elements{
    width: 70%;
    margin: auto;
}

/*---nav-----*/
.menu{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:  auto;
    padding:  10px 5px 10px 0;
}
ul{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    width: 80%;
    margin-right: 10px ;


    
}

li{
    list-style: none;
    background-color: var(--color-li-title);
    color: white;
    height: 35px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}



button{
font-size: 20px;
height:max-content;
width: max-content;
margin:0;
padding: 5px;
}

button:hover{
height: 40px;
 }

.buttonaction{
    display: flex;
    justify-content:space-evenly;
  
        align-items: center;
        width: 60%;
        margin: auto;
        padding: 5px;

}

/*barre modif*/
.UX{
    display: flex;
    flex-direction: column;
    align-items: baseline;

}


/*----------theme-----------*/
.user{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.theme{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    
}
p.colortheme{
    color: var(--color-header-bg);
    font-size: 40px;
    margin: 5px;
}

/*----------langues------*/
.userfunction{
    font-size: 25px;
    margin: 5px;
}


.langues{
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 0;
 }

.speak{
    height: 50px;
    width: 100px;
    margin: 5px;
}
.Espagnol {
    width: 120px;
    height: 60px;
  
    border: solid 2px  var(--color-header-bg);
    border-radius: 25px;
}

.English{
    width: 100px;
    height: 60px;
  
    border: solid 2px  var(--color-header-bg);
    border-radius: 25px;

}
.Portugues{
    width: 120px;
    height: 60px;
  
    border: solid 2px  var(--color-header-bg);
    border-radius: 25px;
}

 /*------------- main-------------*/
 main{
   /*  background-color: var(--color-body);*/
     width: 94%;
     margin:0;
     padding: 5px;

 }

 section{
     width: 75%;
     margin: 5px;
     text-align: justify;
     padding: 10px 15px;

 }

.who,.projets, .work{
float:right;

 }

 .webForm,.univ, .others
 {
    float:left;
    
     }
.Titlepart{
   
    height: max-content;
    width: max-content;
    font-size: 25px;
    padding: 5px 10px;
    margin-bottom: 2px;
}

.date{

    margin-bottom: 2px;
}

.job{
    font-size: 18px;
    
}


.what{
    font-size: 15px;
    text-align: left;
    margin: 2px;


}
.where{
    margin: 2px;

}
/*-------------description--------------*/

.description{
     color: var(--color-header-bg);
     padding: 10px 5px;
     font-size: 16px;
}

/*--------------webFormation--------------*/

.oclock{

    font-size: 20px;
}
.oclock:hover{
 
    font-size: 25px;
}


/*logos*/
.competences{
      margin: 5px auto ;
    padding: 5px;
    width: max-content;
    
}
 #techknow{
display: flex;
flex-direction: row;

 }


.elementslogo{

    padding: 0px;
    
}


.namelogo{
    font-size: 15px;
    padding: 2px;
    color: var(--color-header-bg);
    font-weight: bold;
}

.explicationlogo {
    font-size: 20px;
    padding: 5px;
    text-align: left;
}

.AGIL{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*---------------projet---------------*/


h5{
    font-size: 25px;
    margin: 10px;
}

h6{
    font-size: 20px ;
    margin: 5px;
}


/*-----others knows-----*/
.blocknow{
display: flex;
flex-direction: row;
justify-content: space-around;

}
 /*footer*/

footer{

position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ML{
    font-size: 30px;
    color: white;
    font-weight: bold;
}


 }