 
@media screen and (min-width:1440px) { 




 /*-----------header----------------*/
 header{
    display: flex;
    flex-direction: column;

}
/*intro*/
#nameforcompu{
    margin: 10px;
    width: 90%;
}
.iam{
    margin: 10px;
    top:50px;
    right: 50px;
}
.avatar{
width: 150px;
height: 150px;
border-radius: 70px;
}

.name{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 5px;
}


/*button*/
.elements{
    width: 90%;
    margin: auto;
}

/*---nav-----*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 10px;
    padding: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin:auto ;
    padding: auto;
    text-align: center;
    gap: 12px;

    
}

li{
    list-style: none;
    background-color: var(--color-li-title);
    color: white;
    height: 50px;
    width: 180px;
    font-size: 22px;
    margin: 1px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button{

font-size: 20px;

padding-right: 10px;
}

button:hover{
height: 60px;
width: max-content;
 }

.buttonaction{
    display: flex;
    justify-content: space-around;
  
        align-items: center;
        width: 50%;
        margin: auto; 
}

/*barre modif*/
.UX{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    
}


/*----------theme-----------*/
.user{
    width: 15%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*----------langues------*/
.userfunction{
    font-size: 25px;
    color: var(--color-header-bg);
    text-align: center;
    text-decoration: underline;
}
.langues{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.speak{
    background-color: white;
}




 /*------------- main-------------*/

 section{
     width: 75%;
     margin: 5px;
     padding: 10px 15px;
     border: var(--color-header-bg) solid 10px;
    
 }

.who,.projets, .work{
float:right;
 }

 .webForm,.univ, .others
 {
    float:left;
    
     }
.Titlepart{
      width: max-content;
    font-size: 25px;
    padding: 5px 10px;
    margin-bottom: 2px;
}

.date{
    font-size: 18px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 2px;
    color: var(--color-header-bg);
}

.job{
    font-size: 20px;
    text-align:left;
    padding-right: 25px;
    
}


.what{
    font-size: 20px;
    text-align: left;
    margin: 1px;


}
.where{
    font-size: 18px;
    margin: 1px;

}
/*-------------description--------------*/

.description{
     padding: 5px;
     font-size: 20px;
}

/*--------------webFormation--------------*/

.oclock{
    font-size: 20px;
}
.oclock:hover{
    font-size: 25px;
}


/*logos*/
#ensembletechno{
    display: flex;
    flex-direction: row;
    align-content:center;
    justify-content: center;
}

#listtechno{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 50%;
}
.competences{
    border: var(--color-title-h6) solid 2px;
    margin: 5px ;
    padding: 5px;
    width: max-content;   
    height: max-content;
}

.competences2{
    margin:0;
    padding: 2px;
    width: max-content;   
}
 #techknow{
display: flex;
flex-direction: row;
align-items: baseline;
 }

.logosalign{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1px;
    margin: 1px;
}

.socle{
       width: 90%;
}

.tutoriel{
    width: 45%;
}
.elementslogo{

    margin: auto 2px;
    padding: 2px;
    
}

img.logo{
    width: max-content;
    height: 50px;
    border-radius: none;
    }

.namelogo{
    font-size: 15px;
    padding: 1px;
 
}

.explicationlogo {
    font-size: 18px;
    padding: 1px;
    font-weight: bold;
    text-align: left;
}

.AGIL{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*---------------projet---------------*/

h5{
    font-size: 25px;
    margin: 10px;
}

h6{
    font-size: 20px ;
    margin: 5px;
}

.miniature{
     height: 100px;
     width: 150px;
 }

/*-----others knows-----*/
.blocknow{
display: flex;
flex-direction: row;
justify-content: space-around;

}
 /*footer*/


.ML{
    font-size: 30px;

}

}