    :root {
    --background-color: #111;
    --section-background: #3b3a3a;
    --text-color: #ededed;
    --title-color: #50a8d8;
    }



body{
--color-blue:rgb(21, 100,186);
--color-yellow:rgb(238,210,8);
--color-body: rgba(153, 245, 223, 0.3) ;
--color-red:rgb(235, 12,12);
--color-green: rgb(3, 87, 3);



/*general*/
font-family: 'Roboto', sans-serif;
font-size: 20px;
margin: auto;
transition:  background 0.5s;
width: 100%;
height: max-content;

}



 /*-----------header----------------*/
header{
    background-color: var(--color-blue);
    position:static;
    font-size: 50px ;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition:  background 0.5s;

}
/*intro*/
.iam{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.avatar{
width: 220px;
height: 220px;
border-radius: 120px;
}

.name{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 5px;
}


/*button*/
.elements{
    width: 90%;
    margin: auto;
}

/*---nav-----*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 10px;
    padding: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin:auto ;
    padding: auto;
    text-align: center;
    gap: 12px;

    
}

li{
    list-style: none;
    background-color: var(--color-red);
    color: white;
    height: 50px;
    width: 180px;
    font-size: 22px;
    margin: 1px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button{
background-color: var(--color-yellow);
border: 0;
border-radius: 25px;

color: black;
font-weight: bold;
font-size: 20px;

height: 40px;
width: max-content;

padding-right: 10px;
}

button:hover{
background-color: var(--color-green);
 color: white;
 font-weight: bold;
 border: 0;
border-radius: 25px;
height: 60px;
width: max-content;
 }

.buttonaction{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

/*barre modif*/
.UX{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    
}


/*----------theme-----------*/
.user{
    width: 15%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*----------langues------*/
.userfunction{
    font-size: 25px;
    color: var(--color-blue);
    text-align: center;
    text-decoration: underline;
}
.langues{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.speak{
    background-color: white;
    height: 30px;
    width: 150px;
    margin: 5px;
    border: var(--color-blue) solid 2px;
}

.Espagnol {
      background-image: url("spain.png");
      background-position: center;
    
}
.English{
    background-image: url("Unitedkingdom.png");
    background-position: center;
}
.Portugues{
    background-image: url("portugal.png");
    background-position: center;

}

 /*------------- main-------------*/
 main{
   /*  background-color: var(--color-body);*/
     width: 94%;
     margin:0;
     padding: 5px;

 }

 p{
     color: black;
     
 }

 section{
     width: 75%;
     margin: 5px;
     text-align: justify;
     padding: 10px 15px;
     border: var(--color-blue) solid 10px;
     border-radius: 25px;
     background-color: white;
     transition:  background 0.5s;
 }

.who,.projets, .work{
float:right;

 }

 .webForm,.univ, .others
 {
    float:left;
    
     }
.Titlepart{
    background-color: var(--color-red);
    color: white;
    height: max-content;
    width: max-content;
    font-size: 25px;
    padding: 5px 10px;
    margin-bottom: 2px;
    text-align: left;
    border-radius: 25px;
}

.date{
    font-size: 18px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 2px;
    color: var(--color-blue);
}

.job{
    font-size: 20px;
    text-align:left;
    padding-right: 25px;
    
}


.what{
    font-size: 20px;
    text-align: left;
    margin: 1px;


}
.where{
    color: var(--color-blue);
    font-size: 18px;
    text-align: right;
    margin: 1px;

}
/*-------------description--------------*/

.description{
     color: var(--color-blue);
     padding: 5px;
     font-size: 20px;
}

/*--------------webFormation--------------*/
.webForm{
    background-color:white;
}
.oclock{
    color: var(--color-white);
    font-size: 20px;
    background-color: var(--color-yellow);
}
.oclock:hover{
    color: var(--color-red);
    background: none;
    font-size: 25px;
}


/*logos*/
#ensembletechno{
    display: flex;
    flex-direction: row;
    align-content:center;
    justify-content: center;
}

#listtechno{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 50%;
}
.competences{
    border: var(--color-green) solid 2px;
    border-radius: 25px;
    margin: 5px ;
    padding: 5px;
    width: max-content;   
    height: max-content;
}

.competences2{
    margin:0;
    padding: 2px;
    width: max-content;   
}
 #techknow{
display: flex;
flex-direction: row;
align-items: baseline;
 }

.logosalign{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1px;
    margin: 1px;
}

.socle{
       width: 90%;
}

.tutoriel{
    width: 45%;
}
.elementslogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 2px;
    padding: 2px;
    
}

img.logo{
    width: max-content;
    height: 50px;
    border-radius: none;
    }

.namelogo{
    font-size: 15px;
    padding: 1px;
 
    color: var(--color-blue);
    font-weight: bold;
}

.explicationlogo {
    font-size: 18px;
    padding: 1px;
    font-weight: bold;
    text-align: left;
}

.AGIL{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*---------------projet---------------*/

span{
    font-weight:bold ;
    color: var(--color-red); }
h5{
    color: var(--color-blue);
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

#refcode{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h6{
    font-size: 20px ;
    text-align: center;
    text-decoration: underline;
    color: var(--color-green);
    margin: 5px;
}

.miniature{
     height: 100px;
     width: 150px;
 }

/*-----others knows-----*/
.blocknow{
display: flex;
flex-direction: row;
justify-content: space-around;

}
 /*footer*/

footer{
    background-color: var(--color-blue);
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ML{
    font-size: 30px;
    color: white;
    font-weight: bold;
}


